<div class="header-blue">
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Cinema</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ok" *ngIf="!isUserAuthenticated()" id="navcol-1">
                <span class="navbar-text">
                    <a class="login" href="/login">Log In</a>
                </span>
                <a class="btn btn-light action-button" role="button" href="/inscription">Signup</a>
            </div>
            <div class="collapse navbar-collapse ok" *ngIf="isUserAuthenticated()" id="navcol-1">
                <a class="btn btn-light action-button" role="button" (click)="logout()">Log Out</a>
            </div>
        </div>
    </nav>
</div>
